@import './../../style/main.scss';

.app {
  background: #dce4e4;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.contentPage {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.drawerPaper {
  position: relative !important;
}
