@import '../../style/colors.scss';

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.header {
  height: 4em;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  pointer-events: initial;

  button {
    // color: $blue;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.fab {
  margin: 2em;
  pointer-events: initial;
}

.mapControls {
  flex: 0;
  display: inline-block;
  padding: .2em;
  align-self: flex-end;
  background: white;
  border-top-right-radius: 1em !important;
  pointer-events: initial;
}
