@import '../../style/colors.scss';

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.bar {
  height: 4em;
  pointer-events: initial;
}

.header {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

  button {
    color: $blue;
  }
}

.mapControls {
  display: inline-block;
  padding: .6em;
  background: white;
  border-top-right-radius: 1em;
}

.button {
}