@import '../../style/colors.scss';

.mapContainer {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.map {
  width: 100%;
  flex: 1 1 auto;
}

.popup {
  padding: 0.1em 1em;

  .leaflet-popup-content-wrapper {
    padding: 1000px;
    border-radius: 0;
  }
}
